.helper-container {
  margin-top: 30px;
  border: 1px solid #dee2e6; /* matches bootstrap border */
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 30px;
  background-color: #fff; /* optional for better visibility */
  border-radius: 16px;
}