.create-package-container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid #dee2e6; /* matches bootstrap border */
  border-radius: 0.25rem;
  padding: 1rem;
}



.form-title {
  margin-bottom: 20px;
  font-weight: bold;
}



.preview-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.preview-image {
  width: 200px;
  height: auto;
  object-fit: contain;
}

.buttonModel {
  margin: 5px;
}
