.create-package-container {
  max-width: 650px;
  margin: 40px auto;
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}

.create-package-form {
  padding: 30px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  font-weight: 500;
  border-radius: 8px;
}

.submit-btn {
  width: auto;          /* remove full width */
  padding: 10px 28px;
  font-weight: 500;
  border-radius: 8px;
  display: block;
  margin: 0 auto;       /* center horizontally */
}
