
.containerStyle {
  display: flex;
  justify-content: center;
}


.about-card {
  height: 100%;
  min-height: 400px;            
  display: flex;
  flex-direction: column;
  width: 100%;                
  max-width: 360px;             
  margin: 0 auto;
}

/* Image always same size & full width */
.cardImage {
  width: 100%;
  height: 210px;
  object-fit: cover;
}


.about-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.about-card .card-text {
  flex-grow: 1;
  font-size: 15px;
  line-height: 1.6;
}

/* Hover effect */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
