.containerStyle {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;  
    margin-left: auto;
    margin-right: auto;
}

.cardStyle {
  display: block;          
  width: 120px;            
  height: 120px;           
  object-fit: contain;     
  margin: 0 auto 20px;   
  
}

/* Optional: make the card hover */
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
