.footer-background {
  background-image: url("./images/bridge.jpg");
  background-size: cover;
  background-position: top center; 
  background-repeat: no-repeat;
  padding: 18px 0;
  display: flex;
  justify-content: center;
}

.footer-white-box {
  background-color: rgba(198, 226, 255, 0.88);
  padding: 25px 45px;
  border-radius: 12px;
  max-width: 900px;
  width: 85%;
  color: rgba(0, 0, 0, 0.824);
}

/* Typography */
.footer-white-box h5 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
  text-align: center;
}

.footer-white-box p {
  font-size: 16px;
  margin-bottom: 8px;
  text-align: center;
}

.footer-white-box .row {
  justify-content: center;
}

.footer-white-box .col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-white-box {
    padding: 18px 20px;
  }

  .footer-white-box h5 {
    font-size: 18px;
  }

  .footer-white-box p {
    font-size: 14px;
  }
}
