.navbarStyle {
  background-image: url("./images/cloud.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 100px;
  font-style: oblique;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;

  position: relative;

}

.navbarStyle::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.navbarStyle .container {
  position: relative;
  z-index: 2;
}

.nav-link-custom {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.nav-link-custom:hover {
  font-weight: 700;
  color: white;
}
